@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Ubuntu&display=swap');

#header {
    padding-bottom: 2rem;
    margin-top: 0.2rem;
    background-color: rgb(44, 44, 44);
    border-radius: 16px;
    text-align: justify;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

img {
    float: inherit;
}

a {
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

body {
    text-align: center;
    font-family: Noto Sans;
    background-color: #181818;
    border-radius: 16px;
    font-size: 2rem;
    margin-top: 0px;
}

#main {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    font-size: 4rem;
}

#main-text {
    margin-left: 5rem;
    margin-right: 5rem;
}